body
{
    font-family: 'Roboto', sans-serif;
    background-color: #DFE0ED;
}

button
{
    padding: 0;
    border: none;
    background: none;
}

div#login_label
{
    font-size:   40px;
    font-style:  normal;
    font-weight: bold;

    color: #636475;

    margin-bottom: 45px;
    user-select: none;
}

div#authorization_panel
{
    display: flex;
    
    flex-direction:  column;
    justify-content: center;
    
    align-items: center;
    text-align:  center;
    min-height:  95vh;
}

button#login_button,
input#username,
input#password
{
    display: block;
    margin:  0 auto;

    outline:none;
}

input::placeholder
{
    color: rgba(99, 100, 117, 0.8);
    font-size: 17px;
}

input#username,
input#password
{
    width: 400px;
    height: 40px;

    background: rgba(99, 100, 117, 0.12);
    border: none;
    box-sizing: border-box;
    border-radius: 30px;

    padding-left: 20px;

    margin-bottom: 15px;
}

input#username[type=text],
input#password[type=password]
{
    color: #636475;
    font-size: 17px;
}

button#login_button
{
    background: #8789A1;
    border-radius: 30px;

    width: 190px;
    height: 40px;

    color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

    user-select: none;

    margin-top: 10px;
}

button#login_button:hover
{
    background: #A3A5C2;

    transition: 0.3s linear;
    transform: scale(0.95);
}

button#login_button:not(:hover)
{
    transition: 1s;
}